@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
	--theme-primary: theme('colors.green.900');
	--theme-secondary: theme('colors.green.500');
	--theme-tertiary: theme('colors.yellow.100');
}
